*{
    padding: 0;
    margin: 0;
}

#container-tabela {
    border: 1px solid black;
    text-align: center;
}

#titulo-tabela{
    border-bottom: 1px solid black;
}

body div table {
    width: 100%;
    text-align: center;
}