.tituloDaPagina{
    text-align: center;
}
    .calendario {
        font-family: Arial, sans-serif;
    }

    .cabecalho {
        background-color: rgb(238, 207, 207);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    #titulo-mes {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    #mes-anterior,
    #mes-proximo {
        border-color:black;
        font-size: 2em;
        background-color: #ff5a5f;
        border: none;
        cursor: pointer;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border: 1px solid #0f0f0f;
    }
    th {
        color: red;
    }
    th p{
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    th {
        background-color: #d8d0d0;
        font-weight: bold;
    }

    td {
        font-size: 1.2em;
    }
    
      

    @media screen and (max-width: 768px) {
        .box {
            width: 100%;
        }
    }
    #horarios tr p{
        text-align: left;
      
    }
    
    .plus {
        width: 20px;
        height: 2px;
        right: 10px;
        background-color: green;
        margin: 0 auto;
        position: relative;
      }
      
      .plus::before,
      .plus::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: green;
        transform: translateY(-50%);
      }
      
      .plus::before {
        transform: rotate(90deg);
      }
      
      .plus::after {
        transform: rotate(180deg);
      }
     .apagar{
        border-radius: 50px;
        background-color: red;
     }
     .editar{
        border-radius: 50px;
        background-color: red;
        left: 20px;
     }

     /* footer */

     footer {
        color: #fff;
        text-decoration: none;
        list-style: none;
        list-style-type: none;
      }
      
      ul {
        list-style-type: none;
      }
      
      a {
        color: #fff;
      }
      
      .footer-bg {
        background-color: #ff5a5f;
      }
      
      .footer {
        display: grid;
        grid-template-columns: 6fr 3fr;
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      
      
      .footer-contato li:nth-child(even):after {
        content: "";
        display: block;
        max-width: 360px;
        height: 2px;
        background: #000;
        margin-top: 16px;
      }
      
      .footer li {
        margin-bottom: 16px;
      }
      
      .footer-redes {
        display: flex;
        gap: 32px;
      }
      
      .footer a:hover {
        color: #000;
      }
      
      footer div ul li {
        transition: transform 0.3s;
      }
      
      footer div ul li:hover {
        transform: scale(1.1);
      }
      
      .footer-copy {
        grid-column: 1/-1;
        margin-top: 40px;
      }
      
      @media (max-width: 800px) {
        .footer > img {
          display: none;
        }
        .footer {
          grid-template-columns: 1fr 1fr;
        }
      }
      
      @media (max-width: 600px) {
        .footer {
          grid-template-columns: 1fr;
          gap: 60px;
        }
        .footer-copy {
          margin-top: 0px;
        }
      }
      .opcoes {
        display: flex;
        justify-content: space-between;
      }
      .botaoAgendaPersonal {
        width: 130px;
        height: 50px;
          background-color: rgb(240, 127, 127);
        
      }
      
      .botaoCriarFicha {
        width: 130px;
        height: 50px;
          background-color: rgb(240, 127, 127);
      }
      
      .botaoExercicioPersonal {
        width: 130px;
        height: 50px;
          background-color: rgb(240, 127, 127);
      }