*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#nome-aluno{
    text-align: center;
    border-bottom: 1px solid black;
}

#cabecalho{
    display: flex;
    justify-content: space-between;

}

#dias-malhados{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 45%;
}

.texto-cabecalho{
    font-weight: bold;
    margin: 2% 3% 2% 4%;
}

body button a:link{
    text-decoration: none;
}


#dia-ficha{
    width: 50%;
}

.estapas-exercicios{
    text-align: center;
}

.img-exercicio{
display: flex;
width: 20%;
height: 20%;
left: 12px;
top: 130px;


background: url(image);
}


.botoes-fimFicha{
    text-align: center;
    width: 95%;
    background-color: #EA4545;
    padding: 2%;
    border: none;
    margin: 2% 3% 0 3%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  text-align: center;

}

.button-container button {
  display: flex;
  padding: 6% 20%;
  background-color: #EA4545;
  margin: 2% 5%;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  float: right;
}


.button-container button:hover {
    cursor: pointer;
    background-color: #a92d2d;
}

.button-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-texto{
  width: 100%;
align-items: center;
}

 /* footer */
 footer-container{
  display: flex;
  justify-content: space-between;
}

 footer {
    color: #fff;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: #fff;
  }
  
  .footer-bg {
    background-color: #ff5a5f;
  }
  
  .footer {
    
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  
  .footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: #000;
    margin-top: 16px;
  }
  
  .footer li {
    margin-bottom: 16px;
  }
  
  .footer-redes {
    display: flex;
    gap: 32px;
  }
  
  .footer a:hover {
    color: #000;
  }
  
  footer div ul li {
    transition: transform 0.3s;
  }
  
  footer div ul li:hover {
    transform: scale(1.1);
  }
  
  .footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
  }
  
  @media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
    }
  }
  .opcoes {
    display: flex;
    justify-content: space-between;
  }
  .botaoAgendaPersonal {
    width: 130px;
    height: 50px;
      background-color: rgb(240, 127, 127);
    
  }
  
  .botaoCriarFicha {
    width: 130px;
    height: 50px;
      background-color: rgb(240, 127, 127);
  }
  
  .botaoExercicioPersonal {
    width: 130px;
    height: 50px;
      background-color: rgb(240, 127, 127);
  }