body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ff5a5f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
  }
  
  main {
    padding: 20px;
  }
  
  .exercicio {
    position: relative;
    align-items: center;

    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imagem-exercicio {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .exercicio h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* .saibaMais,.editar {
    display: flex;
  
  }  */
  .saibaMais,.editar {
    margin-left: 10px;
  }
  .saibaMais,.editar {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  } 
  
  .saibaMais {
    background-color: #ff5a5f
}

.editar {
background-color: #4285f4;
color: #fff;
margin-left: 10px;
}

.adicionarExercicio {
background-color: #ff5a5f;
color: #fff;
padding: 10px;
font-size: 18px;
border-radius: 5px;
border: none;
cursor: pointer;
display: block;
margin: 20px auto;
width: 200px;
}

.exercicio .botoes {
  position: absolute;
  top: 50%;
  bottom: 10%;
  right: 10px;
}
.detalhes-exercicio {
  flex-grow: 1;
  margin-right: 15px;
  margin-bottom: 100px;
}

h2.nome-exercicio {
  margin: 0;
  margin-left: 130px;

}

/* footer */

footer {
  color: #fff;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
}

.footer-bg {
  background-color: #ff5a5f;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: #000;
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: #000;
}

footer div ul li {
  transition: transform 0.3s;
}

footer div ul li:hover {
  transform: scale(1.1);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0px;
  }
}
.opcoes {
  display: flex;
  justify-content: space-between;
}

.botaoAgendaPersonal {
  width: 130px;
  height: 50px;
    background-color: rgb(240, 127, 127);
  
}

.botaoCriarFicha {
  width: 130px;
  height: 50px;
    background-color: rgb(240, 127, 127);
}

.botaoExercicioPersonal {
  width: 130px;
  height: 50px;
    background-color: rgb(240, 127, 127);
}