html {
  margin: 0px;
  padding: 0px;
}

.bg-red {
  grid-column: 1 / -1;
  background-color: #ff5a5f;
  color: white;
  display: inline;
  text-decoration: none;
  text-decoration-color: white;
}

.bg-red:hover {
  color: white;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  margin: 0%, 10%, 0%, 10%;
}

header {
  grid-column: 1 / -1;
  margin: 0px;
  padding: 0px;
}

.ImagemPrincipal {
  width: 100%;
  display: grid;
  max-height: 500px;
  margin: 0%;
  object-fit: cover;
  position: relative;
}

article {
  grid-column: 1 / -1;
  margin-top: -8px;
}

.tituloBeneficios h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding-top: 15px;
}

.beneficio {
  text-align: start;
  padding-left: 15px;
}

.iconeHalter {
  height: 40px;
  width: auto;
  padding-bottom: 10px;
}

.beneficio h3 {
  display: inline;
  font-size: 20px;
  justify-content: start;
  height: 80px;
}

.sectionBeneficios {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff8f0;
}

.imagemFim {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.beneficiosTreino {
  background-color: #fff8f0 !important;
}

.footer {
  grid-column: 1 / -1;
  width: 100%;
  font-weight: bold;
  height: 30px;
}

.buttonLogIn {
  width: 120px;
  height: 40px;
  border-color: #2a0c4e;
  background-color: #ff5a5f;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  z-index: 10;
  grid-column: 1 / -1;
  position: fixed;
  top: 93%;
  right: calc(50% - 60px);
}

.finalSection {
  justify-content: center;
  grid-column: 1 / -1;
}

div ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 0px;
  margin-top: 0px;
  justify-content: center;
}

div ul li {
  transition: transform 0.3s;
}

div ul li:hover {
  transform: scale(1.1);
}

.buttonLogIn:hover {
  cursor: pointer;
}
