* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	margin: 50px auto;
	padding: 20px;
	max-width: 500px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 18px;
	margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #ff5a5f;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

/* Adiciona regras de estilo para telas menores */

@media only screen and (max-width: 600px) {
	.container {
		margin: 20px auto;
		padding: 10px;
		max-width: 100%;
	}

	h1 {
		font-size: 28px;
		margin-bottom: 10px;
	}

	input[type="email"],
	input[type="password"] {
		padding: 5px;
		font-size: 14px;
		margin-bottom: 5px;
	}

	input[type="submit"] {
		padding: 5px;
		font-size: 14px;
	}
}
