.tituloDaPagina{
    text-align: center;
}
    .calendario {
        font-family: Arial, sans-serif;
    }

    .cabecalho {
        background-color: rgb(238, 207, 207);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    #titulo-mes {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    #mes-anterior,
    #mes-proximo {
        border-color:black;
        font-size: 2em;
        background-color: #ff5a5f;
        border: none;
        cursor: pointer;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border: 1px solid #0f0f0f;
    }
    th {
        color: red;
    }
    th p{
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    th {
        background-color: #d8d0d0;
        font-weight: bold;
    }

    td {
        font-size: 1.2em;
    }

    @media screen and (max-width: 768px) {
        .box {
            width: 100%;
        }
    }
    #horarios tr p{
        text-align: left;
      
    }
    
    .plus {
        width: 20px;
        height: 2px;
        right: 10px;
        background-color: green;
        margin: 0 auto;
        position: relative;
      }
      
      .plus::before,
      .plus::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: green;
        transform: translateY(-50%);
      }
      
      .plus::before {
        transform: rotate(90deg);
      }
      
      .plus::after {
        transform: rotate(180deg);
      }
     .apagar{
        left: 140px;
        border-radius: 50px;
        background-color: red;
     }
     .editar{
        border-radius: 50px;
        background-color: red;
        left: 20px;
     }